
body{
    
    background-color:#0096FF;
    
}
.age-calculator{
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    gap: 10px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    background-color: #0B192C;
    padding: 20px;
    border-radius: 10px;
}
.age{
    padding: 20px;
    background: #0B192C;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
#yourAge{
    padding: 10px 20px;
    width: 200px;
    outline: none;
    border-radius: 10px;
    border: none;
}
#calculate{
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}
.innerBtn1{
   width: 110px;
   height: 70px;
   
   border-radius: 5px;
   font-size: 25px;
   color:  #0B192C;
}.innerBtn2{
    width: 110px;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    color:  #0B192C;
}


@media(max-width:430px){
    .age-calculator{
        width: 315px;
    }
    .inputs{
        justify-content: space-between;
        /* padding: 10px; */
        gap: 10px;
    }
    .age{
        gap: 5px;
        padding: 10px;
    }
    .innerBtn1{
        width: 90px;
        height: 70px;
        
        border-radius: 5px;
        font-size: 19px;
     }.innerBtn2{
         width: 90px;
         height: 50px;
         font-size: 13px;
         border-radius: 5px;
     }
}